body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  padding: 0;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("../images/img1.jpg");
  min-height: 100%;
}
.pimg2 {
  background-image: url("../images/img2.jpg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("../images/img3.1.jpg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #fed7bf;
  color: #666;
  box-shadow: 10px 10px 5px grey;
}
.section-dark {
  background-color: #e4afb0;
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.text,
.border {
  background-color: #111;
  color: white;
  padding: 20px;
}
.ptext,
.border.trans {
  background-color: transparent;
}
.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 20px;
}
.skills {
  background-color: #9a7787;
  color: white;
  padding: 20px;
  border-radius: 15px 50px 30px;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 10px 10px 5px grey;
}
.skills:hover {
  background-color: white;
  color: #9a7787;
}

.footer {
  width: 100%;
  background-color: #222;
  padding: 60px 0px;
}

@media (max-width: 568px) {
  .pimg3,
  .pimg2,
  .pimg1 {
    background-attachment: scroll;
  }
}
